:root {
    --white: #FFFFFF;
    --primary: #171D7D;
    --sidebar-primary: #F4F6FA;
    --sidebar-bg: #FFFFFF;
    --bg: #F2F3F5;
    --text-gray: #8E9196;
    --text: #0E0E0F;
    --text-headline: #111111;
    --text-link: #171D7D;
    --text-dark: #70757A;
    --logout: #FA7575;
    --tooltip-bg: var(--primary);
    --search-bg: #FFFFFF;
    --search-border: #E6E7EB;
    --search-text: #8D9195;
    --search-icon: #A0A3A9;
    --separator: #E0E0E0;
    --link-hover: #F6F7F9;
}

body.dark-theme-variables {
    --white: #1D2228;
    --primary: #4B8BFA;
    --sidebar-primary: #242A32;
    --sidebar-bg: #2A303A;
    --bg: #1A1F25;
    --text-gray: #A0A3A9;
    --text: #F2F3F5;
    --text-headline: #FFFFFF;
    --text-link: #357BFF;
    --text-dark: #A0A3A9;
    --logout: #FA7575;
    --tooltip-bg: var(--primary);
    --search-bg: #2A303A;
    --search-border: #3B424D;
    --search-text: #A0A3A9;
    --search-icon: #A0A3A9;
    --separator: #3B424D;
    --link-hover: #3B424D;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 1rem;
    height: 100%;
    background: var(--bg);
}

.theme-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 2.95rem;
    width: 2.95rem;
    border-radius: 0.5rem;
}

.theme-toggler span {
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
    color: var(--text-gray);
}

.theme-toggler span.active {
    display: block;
}

.theme-toggler:hover {
    border: 2px solid var(--primary);
}


html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 50rem;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    max-width: 18rem;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    color: var(--white);
    background: var(--sidebar-bg);
    transition: max-width 0.2s ease-in-out;
}

body.collapsed .sidebar {
    max-width: 5rem;
}

body.collapsed .hide {
    position: absolute;
    visibility: hidden;
}

/*? separator */
.separator {
    width: 100%;
    height: 1px;
    background: var(--separator);
}

.separator--top {
    margin-top: auto;
}

/*? search wrapper */
.search__wrapper {
    position: relative;
}

.search__wrapper input {
    background: var(--search-bg);
    min-height: 3rem;
    width: 100%;
    color: var(--search-text);
    border-radius: 0.75rem;
    padding-left: 2.75rem;
    font-size: 1.4rem;
    border: 2px solid var(--search-border);
}

.search__wrapper input::placeholder {
    color: var(--search-text);
    font-size: 1.2rem;
}

body.collapsed .search__wrapper input::placeholder {
    color: transparent;
}

.search__wrapper svg {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--search-text);
    transform: translateY(-50%);
    pointer-events: none;
}

body.collapsed .search__wrapper input::placeholder {
    color: transparent;
}

.search__wrapper input:focus {
    border: 2px solid var(--primary);
    outline: 2px solid transparent;
}

/*? sidebar top */
.sidebar-top-wrapper {
    display: flex;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 4rem;
    width: 100%;
    padding-bottom: 1rem;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1rem;
    gap: 0.75rem;
    font-family: 'Lato', sans-serif;
}

.logo-small {
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
    object-fit: cover;
}

.company-name {
    white-space: nowrap;
    color: var(--text-headline);
    font-family: 'Lato', sans-serif;
}

/*? menu links */
.menu-links {
    margin-top: 1rem;
}

.sidebar-links ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.sidebar-links li {
    min-width: 3rem;
}

.sidebar-links ul svg {
    stroke: var(--text-gray);
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
}

.sidebar-links li a:hover {
    background: var(--link-hover);
    color: var(--text);
}

.sidebar-links li a:hover svg {
    stroke: var(--text);
}

.sidebar-links li a {
    color: var(--text-gray);
    width: 100%;
    padding-left: 0.6rem;
    font-size: 1rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    min-height: 2.75rem;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
}

.sidebar-links li a .link {
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links .active:hover {
    background: var(--link-hover);
}

.sidebar-links .active {
    text-decoration: none;
    background: var(--link-hover);
    color: var(--text);
}

.sidebar-links .active svg {
    stroke: var(--text);
}

.integrations {
    margin-top: 1.5rem;
}

.integrations h2 {
    font-size: 0.875rem;
    margin-left: 0.6rem;
    color: var(--text-gray);
    margin-bottom: 0.5rem;
}

.integrations img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--text-gray);
}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip__content::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: -5px;
    margin-left: -9px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-bg) transparent transparent;
    z-index: 1;
    left: 4.9rem;
}

.tooltip__content {
    visibility: hidden;
    background: var(--tooltip-bg);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 0.35rem 0.75rem;
    position: absolute;
    z-index: 1;
    left: 4.9rem;
}

.collapsed .tooltip:hover .tooltip__content {
    visibility: visible;
}

.collapsed .tooltip:focus .tooltip__content {
    visibility: visible;
}

/*? profile part */
.sidebar__profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-direction: row;
    color: var(--text-link);
    overflow-x: hidden;
    margin-top: auto;
    height: fit-content;
}

.avatar__wrapper {
    position: relative;
    display: flex;
}

.avatar {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.avatar:hover {
    border: 2px solid var(--tooltip-bg);
}

.online__status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #22c55e;
    border-radius: 50%;
    border: 2px solid var(--sidebar-bg);
}


.avatar__name {
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
}

.user-name {
    font-weight: 600;
    text-align: left;
    color: var(--text-white);
    font-family: 'Lato', sans-serif;
}

.email {
    color: var(--text-white);
    font-size: 0.8rem;
}

.logout {
    margin-left: auto;
}

.logout svg {
    color: var(--logout);
}

/*? Expand button */
.expand-btn {
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 2;
    border: none;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 0.5rem;
}

.expand-btn svg {
    stroke: var(--text-gray);
}

.expand-btn span {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-gray);
}

.expand-btn:hover {
    border: 2px solid var(--primary);
}

@keyframes fadeIn {
    from {
        width: 4rem;
        opacity: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}
